{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    {{ include('product/_confirm-modal.html.twig') }}

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">
                                {{ product.name }}
                                {{ product.inStock }}
                                {{ product.unit|trans }}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-secondary">
                                        <i class="bi bi-plus-circle"></i>
                                    </button>

                                    <a href="{{ path('product.edit', {'id': product.id}) }}" type="button" class="btn btn-outline-secondary">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>

                                    <button type="button"
                                            class="btn btn-outline-secondary trigger-confirm-modal-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#confirm-modal"
                                            data-route="{{ path('product.delete', {'id': product.id}) }}"
                                            data-token="{{ csrf_token('delete' ~ product.id) }}">
                                        <i class="bi bi-trash"></i>
                                    </button>

                                    <button type="button" class="btn btn-outline-secondary">
                                        <i class="bi bi-dash-circle"></i>
                                    </button>
                                </div>
                                <small class="text-body-secondary">
                                    {{ product.updatedAt }}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
