{% extends 'base.html.twig' %}

{% trans_default_domain 'registration' %}

{% block title %}
    {{ 'page.title'|trans }}
{% endblock %}

{% block body %}
   <div class="container">
       {% for flash_error in app.flashes('verify_email_error') %}
           <div class="alert alert-danger" role="alert">
               {{ flash_error }}
           </div>
       {% endfor %}

       {{ form_errors(registrationForm) }}

       {{ form_start(registrationForm, {
           attr: {
               'class': 'm-auto p-5 shadow rounded bg-body-tertiary base-form'
           }
       }) }}

       <h1 class="h3 mb-3 fw-normal">
           {{ 'form.title'|trans }}
       </h1>

       {{ form_end(registrationForm) }}
   </div>
{% endblock %}
