{% extends 'base.html.twig' %}

{% trans_default_domain 'login' %}

{% block title %}
    {{ 'page.title'|trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <form class="m-auto p-5 shadow rounded bg-body-tertiary base-form" method="post" action="{{ path('app_login') }}">
            <h1 class="h3 mb-3 fw-normal">
                {{ 'form.title'|trans }}
            </h1>

            <div class="form-floating mb-3">
                <input type="email"
                       value="{{ last_username }}"
                       name="_username"
                       id="username"
                       class="form-control"
                       placeholder="{{ 'form.label.email'|trans }}"
                       autocomplete="email"
                       required autofocus>
                <label for="username">
                    {{ 'form.label.email'|trans }}
                </label>
            </div>

            <div class="form-floating">
                <input type="password"
                       class="form-control"
                       name="_password"
                       id="password"
                       placeholder="{{ 'form.label.password'|trans }}"
                       autocomplete="current-password"
                       required>
                <label for="password">
                    {{ 'form.label.password'|trans }}
                </label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" name="_remember_me" id="remember-me">
                <label class="form-check-label" for="remember-me">
                    {{ 'form.label.remember_me'|trans }}
                </label>
            </div>

            <div class="d-flex">
                <button class="btn btn-secondary py-2 w-100 me-1" type="submit">
                    {{ 'form.button.login'|trans }}
                </button>
                <a class="btn btn-secondary py-2 w-100 ms-1" type="submit" href="{{ path('app_register') }}">
                    {{ 'form.button.register'|trans }}
                </a>
            </div>

            {% if error %}
                <div class="alert alert-danger text-center mt-3">
                    {{ 'form.validation.invalid_credentials'|trans }}
                </div>
            {% endif %}

        </form>
    </div>
{% endblock %}
